#footer-placeholder {
  margin-top: 50px;
  text-align: center;
 
}
footer {
  background: #202A44;
  border-top: 1.5px solid white;
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
  text-align: center;
  margin:10px;
  
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

